body{
    margin: 0px;
    color: rgba(13, 59, 102, 1);
}
h1{
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 66px;
}
h5{
    font-size: 18px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
h4{
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}
h6{
    font-size: 16px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}
.container-logo{
    display: flex;
    justify-content: center;
}
.logo{
    height: 280px;
    width: 300px;
}
.container-link{
    justify-content: center;
    display: flex;
}
.link-navbar , a{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 30%;
    text-decoration: none;
    font-weight: bold;
    color: rgba(20, 7, 78, 1);
}
.parte-iniziale{
    position: relative;
}
.img-header{
    margin-top: 40px;
    max-width: 100%;
    height: 600px;
    background-image:  linear-gradient(0deg, rgba(0,0,0,1)0%, rgba(0,0,0,0.5) 39%, rgba(0,0,0,0.5) 84%, rgba(0,0,0,1)100%), url(immagini/tipografia.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.testo-sovrapposto{
    margin-left: 30px;
    height: 150px;
    width: 50%;
    position: absolute;
    bottom: 40%;
    color: white;
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
}
.titolo-paragrafo h4{
    padding: 8px;
    font-size: 25px;
    border-bottom: 2px solid black;
    width: 20%;
    text-align: center;
    transform: translate(152px, 18px);
}
.paragrafo{
    justify-content: center;
    display: flex;
}
.testo-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.testo{
    width: 60%;
}
.card-img{
    display: flex;
    justify-content: center;
    width: 100%;
}
.card-img img{
    padding: 15px;
}
.testo h5{
    font-size: 23px;
    font-weight: normal;
    margin: 0%;
}
.testo h6{
    margin-top: 0%;
}
.sottotitolo2{
    width: 40%;
    
}
.paragrafo3{
    margin-top: 50px;
    margin-bottom: 50px;
}
.sottotitolo1{
    transform: translateX(120px);
}
.sottotitolo1 h4{
    padding: 8px;
    margin: 0%;
    font-size: 30px;

}
.text-line{
    width: 60%;
    display: flex;
    transform: translate(332px, 0px);
}
.line{
    height: 2px;
    width: 140px;
    background-color: rgba(20, 7, 78, 1);
    align-self: center;
    transform: translate(300px, 30px);
}
footer{
    display: flex;
    background-color: rgba(20, 7, 78, 1);;
    justify-content: space-evenly;
    margin-top: 30px;
}
.link{
    width: 200px;
    height: 60px;
    margin-top: 30px;
}
.link a{
    color: white;
    width: 200px;
}
.info{
    color: white;
    padding: 16px;
    width: 200px;
}
.footer .info{
    margin-top: 70px;
    margin-right: 350px;
}